<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <!-- 제목태그 -->
        <h1>Index Page</h1>
        <!-- 글의 문단 태그-->
        <p>
            이 페이지는 index 페이지입니다.
        </p>
        <!-- 리스트 태그 -->
        <!-- 비순서형 리스트 -->
        <ul>
            <li>list1</li>
            <li>list2</li>
            <li>list3</li>
        </ul>
        <!-- 순서형 리스트 -->
        <ol>
            <li>list1</li>
            <li>list2</li>
            <li>list3</li>
        </ol>
        <!-- 하이퍼링크 생성-->
        <!-- 절대 주소 하이퍼링크-->
        <a href = "https://www.google.com">구글로 이동</a>
        <a href = "https://www.naver.com">네이버로 이동</a>
        <!-- 상대 주소 하이퍼링크-->
        <a href = "/second">second page로 이동</a>
    </body>
</html>