<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- insta 캠페인 버튼 생성 -->
    <!-- utm_source :  (insta || kakao || never blog),
         utm_campaign : 캠페인의 이름(summer_sale), 
         utm_medium : 페이지를 들어오는 계기(cpc), 
         tempGald : GA ID    
    -->
    <a href="/test?utm_soruce=insta&utm_campaign=summer_sale&utm_medium=cpc&tempGald=G-H8TN0V1Z68">
        인스타를 통한 링크 테스트
    </a>
    <br>
    <a href="/test?utm_soruce=kakao&utm_campaign=summer_sale&utm_medium=cpc&tempGald=G-H8TN0V1Z68">
        카카오를 통한 링크 테스트
    </a>
    <br>
    <a href="/test?utm_soruce=neverblog&utm_campaign=summer_sale&utm_medium=cpc&tempGald=G-H8TN0V1Z68">
        네이버 블로그를 통한 링크 테스트
    </a>
    <br>
</body>
</html>